* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
}
.hero {
  height: 100vh;
}
nav {
  font-size: 30px;
  padding: 20px;
  margin: 0;
  background-color: #ececec;
}
nav li {
  display: inline-block;
}
nav li a {
  background-color: transparent;
  text-decoration: none;
  padding: 5px;
  color: black;
}

.about {
  background-color: #90ccf4;
  position: absolute;
  height: 100vh;
  display: inline-block;
  width: 40%;
}
.about#page2 {
  background-color: #f78888;
  height: 120vh;
}
.about#page3 {
  background-color: #479761;
  height: 120vh;
}

.about h1 {
  color: #fff;
  padding-top: 50%;
  font-size: 100px;
  text-align: center;
}
.description {
  background-color: #3d4c83;
  position: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20%;
  float: right;
  height: 100vh;
  text-align: center;
  width: 60%;
  color: #fff;
}
.description#page2 {
  background-color: #ce5151;
  display: flex;
  position: flex;
  padding: 20px;
  float: right;
  height: 120vh;
  text-align: left;
  width: 60%;
}
.description#page3 {
  background-color: #5ed383;
  display: flex;
  position: flex;
  padding: 20px;
  float: right;
  height: 120vh;
  text-align: left;
  width: 60%;
}
.page4 {
  background-color: #a8d0e6;
  position: flex;
  padding: 20px;
  height: 150vh;
  text-align: left;
  width: 100%;
  color: #fff;
}
.page4 h1 {
  padding-left: 25px;
  font-size: 35px;
}
.page4 h2 {
  font-size: 35px;
}
.description div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.description p {
  padding: 10px;
}
img {
  width: 300px;
  height: 300px;
  padding: 25px;
}
video {
  width: 300px;
}
audio {
  width: 300px;
}
img.page4 {
  width: 500px;
  height: auto;
}
.badlist {
  padding: 25px;
}
.badlist ul {
  padding-left: 25px;
}
.additionalform {
  padding-left: 25px;
  display: inline-block;
}
